table.aui.repository-table {
  margin-top: 0;
}
.repository-table .aui-icon {
  color: #707070;
  margin-right: 2px;
}

.branchColumn {
  white-space: nowrap;
}

.lazy-hidden {
    background: #eee url('images/loading.gif') no-repeat 50% 50%;
}